$primary-text-color: #fefeff;
$highlight-text-color: #91f3dc;

$invert-text-color: #00465c;
$invert-highlight-text-color: #6cb3a2;

$shadows: #b2c6c2;
$invert-shadows: #121d29;

$red-error: #b81515;
$red-error-border: #caaca9;

$ivory-light: #f5f2f5;
$ivory: #efeaef;

